:root {
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./pexels-elianne-dipp-4751278.jpg');
    background-size: 300%;
    background-position: center;
    color: rgb(82, 82, 82);

}

h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    padding-top: 30px;
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.content {
    text-align: center;
    width: 100%;
    margin-top: 15vh;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 0;
}

.clock-container {
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.days-container {
    padding: 20px;
} 

.hours-container, 
.minutes-container, 
.seconds-container {
    margin: 20px;
}

.days {
    padding: 20px;
    text-transform: uppercase;
    font-family: serif;
}

.days, 
.hours,
.minutes,
.seconds {
    background: #fff;
    font-size: 30px;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
}

.hours,
.minutes, 
.seconds {
    width: 80px;
    padding: 20px;
}

.label {
    padding: 10px;
    background: rgb(225, 80, 223);
    border-radius: 0px 0px 5px 5px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.ampm {
    text-align: center;
    background: rgba(255,255,255,0.3);
    color: white;
    margin: 0 20px;
    padding: 8px;
    border-radius: 10px;
}